# This device is mostly for testing purposes. But you can use it if you want to.

id = "pc-efi"
vendor = "generic"
name = "Standard PC (UEFI)"
arch = "amd64"
initrdless = true
devena_firstboot_target = "generic"
oobe_wizard = true
bsp_packages = [
	"grub",
	"linux+kernel"
]
kernel_cmdline = ["rd.auto"]
partition_map = "gpt"
num_partitions = 2

[size]
base = 6144
desktop = 19000
server = 6144

[[partition]]
num = 1
type = "esp"
usage = "boot"
size_in_sectors = 614400
start_sector = 2048
mountpoint = "/efi"
filesystem = "fat32"

[[partition]]
num = 2
type = "linux"
usage = "rootfs"
size_in_sectors = 0
mountpoint = "/"
filesystem = "xfs"
mount_opts = ["defaults"]

[[bootloader]]
type = "script"
name = "apply-bootloader.sh"
